@model AppleMania.Models.Pad

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/pads.css" rel="stylesheet" />
<h2 style="color:white;">Details</h2>

<div>
    <h4 style="color:white;">Pad</h4>
    <hr />


    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Model, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Model)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.ReleaseDate, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.ReleaseDate)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Price, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Price)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Width, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Width)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Height, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Height)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Weigth, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Weigth)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Memory, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Memory)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Camera, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Camera)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Speakers, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Speakers)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Os, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Os)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(m => m.Chip, new { style = "font-size:20px;" })
            </td>
            <td style="padding-left:100px;color:white;font-size:17px;">
                @Html.DisplayFor(m => m.Chip)
            </td>
        </tr>
    </table>

    <div style="margin-left:800px;margin-top:-320px;position:relative;">
        <img src="@Model.ImageURL" alt="Alternate Text" style="width:250px;height:330px;" />
    </div>

</div>
<p>
    @if (User.IsInRole("editor") || User.IsInRole("admin")) { 
    <button type="submit" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { style = "text-decoration:none;" })</button> 
     }

    <button type="submit" class="btn btn-default">@Html.ActionLink("Back to List", "Index", new { style = "text-decoration:none;" })</button>
</p>
